Web References/TransferOrderQH/TransferOrderQH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/transferorderqh" targetNamespace="urn:microsoft-dynamics-schemas/page/transferorderqh" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/transferorderqh" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Open" />
          <xsd:enumeration value="Released" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Advice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Planning_Flexibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unlimited" />
          <xsd:enumeration value="None" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Transfer_Order_Line">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planning_Flexibility" type="tns:Planning_Flexibility" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_To_Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Quantity_Inbnd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Quantity_Shipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Quantity_Outbnd" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Ship" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Shipped" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Receive" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Received" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Service_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Staff_Dimension" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Transfer_Order_Line_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Transfer_Order_Line" type="tns:Transfer_Order_Line" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransferOrderQH">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="In_Transit_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Posting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Assigned_User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PDAOrder" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trsf_from_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_from_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Outbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Method_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Agent_Service_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Advice" type="tns:Shipping_Advice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Name_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Address" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Post_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Trsf_to_Country_Region_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transfer_to_Contact" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Inbound_Whse_Handling_Time" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transaction_Specification" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transport_Method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Area" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_Exit_Point" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TransferLines" type="tns:Transfer_Order_Line_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransferOrderQH_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="TransferOrderQH" type="tns:TransferOrderQH" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TransferOrderQH_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Transfer_from_Code" />
          <xsd:enumeration value="Transfer_to_Code" />
          <xsd:enumeration value="In_Transit_Code" />
          <xsd:enumeration value="Posting_Date" />
          <xsd:enumeration value="Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="Assigned_User_ID" />
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="PDAOrder" />
          <xsd:enumeration value="Transfer_from_Name" />
          <xsd:enumeration value="Transfer_from_Name_2" />
          <xsd:enumeration value="Transfer_from_Address" />
          <xsd:enumeration value="Transfer_from_Address_2" />
          <xsd:enumeration value="Transfer_from_Post_Code" />
          <xsd:enumeration value="Transfer_from_City" />
          <xsd:enumeration value="Transfer_from_County" />
          <xsd:enumeration value="Trsf_from_Country_Region_Code" />
          <xsd:enumeration value="Transfer_from_Contact" />
          <xsd:enumeration value="Shipment_Date" />
          <xsd:enumeration value="Outbound_Whse_Handling_Time" />
          <xsd:enumeration value="Shipment_Method_Code" />
          <xsd:enumeration value="Shipping_Agent_Code" />
          <xsd:enumeration value="Shipping_Agent_Service_Code" />
          <xsd:enumeration value="Shipping_Time" />
          <xsd:enumeration value="Shipping_Advice" />
          <xsd:enumeration value="Transfer_to_Name" />
          <xsd:enumeration value="Transfer_to_Name_2" />
          <xsd:enumeration value="Transfer_to_Address" />
          <xsd:enumeration value="Transfer_to_Address_2" />
          <xsd:enumeration value="Transfer_to_Post_Code" />
          <xsd:enumeration value="Transfer_to_City" />
          <xsd:enumeration value="Transfer_to_County" />
          <xsd:enumeration value="Trsf_to_Country_Region_Code" />
          <xsd:enumeration value="Transfer_to_Contact" />
          <xsd:enumeration value="Receipt_Date" />
          <xsd:enumeration value="Inbound_Whse_Handling_Time" />
          <xsd:enumeration value="Transaction_Type" />
          <xsd:enumeration value="Transaction_Specification" />
          <xsd:enumeration value="Transport_Method" />
          <xsd:enumeration value="Area" />
          <xsd:enumeration value="Entry_Exit_Point" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TransferOrderQH_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:TransferOrderQH_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:TransferOrderQH_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:TransferOrderQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH_List" type="tns:TransferOrderQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH_List" type="tns:TransferOrderQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH" type="tns:TransferOrderQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH_List" type="tns:TransferOrderQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferOrderQH_List" type="tns:TransferOrderQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_TransferLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TransferLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_TransferLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_TransferLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_TransferLines">
    <part name="parameters" element="tns:Delete_TransferLines" />
  </message>
  <message name="Delete_TransferLines_Result">
    <part name="parameters" element="tns:Delete_TransferLines_Result" />
  </message>
  <portType name="TransferOrderQH_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_TransferLines">
      <input name="Delete_TransferLines" message="tns:Delete_TransferLines" />
      <output name="Delete_TransferLines_Result" message="tns:Delete_TransferLines_Result" />
    </operation>
  </portType>
  <binding name="TransferOrderQH_Binding" type="tns:TransferOrderQH_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_TransferLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/transferorderqh:Delete_TransferLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_TransferLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_TransferLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TransferOrderQH_Service">
    <port name="TransferOrderQH_Port" binding="tns:TransferOrderQH_Binding">
      <address location="http://dpmaster.dptech.local:7045/DynamicsNAVQH/WS/Qian%20Hu/Page/TransferOrderQH" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>