Web References/QHWarehouseEntry/QHWarehouseEntry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/qhwarehouseentry" targetNamespace="urn:microsoft-dynamics-schemas/page/qhwarehouseentry" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/qhwarehouseentry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Source_Subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="_x0031_" />
          <xsd:enumeration value="_x0032_" />
          <xsd:enumeration value="_x0033_" />
          <xsd:enumeration value="_x0034_" />
          <xsd:enumeration value="_x0035_" />
          <xsd:enumeration value="_x0036_" />
          <xsd:enumeration value="_x0037_" />
          <xsd:enumeration value="_x0038_" />
          <xsd:enumeration value="_x0039_" />
          <xsd:enumeration value="_x0031_0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Document">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="S_Order" />
          <xsd:enumeration value="S_Invoice" />
          <xsd:enumeration value="S_Credit_Memo" />
          <xsd:enumeration value="S_Return_Order" />
          <xsd:enumeration value="P_Order" />
          <xsd:enumeration value="P_Invoice" />
          <xsd:enumeration value="P_Credit_Memo" />
          <xsd:enumeration value="P_Return_Order" />
          <xsd:enumeration value="Inb_Transfer" />
          <xsd:enumeration value="Outb_Transfer" />
          <xsd:enumeration value="Prod_Consumption" />
          <xsd:enumeration value="Item_Jnl" />
          <xsd:enumeration value="Phys_Invt_Jnl" />
          <xsd:enumeration value="Reclass_Jnl" />
          <xsd:enumeration value="Consumption_Jnl" />
          <xsd:enumeration value="Output_Jnl" />
          <xsd:enumeration value="BOM_Jnl" />
          <xsd:enumeration value="Serv_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Whse_Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Whse_Journal" />
          <xsd:enumeration value="Receipt" />
          <xsd:enumeration value="Shipment" />
          <xsd:enumeration value="Internal_Put_away" />
          <xsd:enumeration value="Internal_Pick" />
          <xsd:enumeration value="Production" />
          <xsd:enumeration value="Whse_Phys_Inventory" />
          <xsd:enumeration value="_blank_" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Entry_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Negative_Adjmt" />
          <xsd:enumeration value="Positive_Adjmt" />
          <xsd:enumeration value="Movement" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Reference_Document">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Posted_Rcpt" />
          <xsd:enumeration value="Posted_P_Inv" />
          <xsd:enumeration value="Posted_Rtrn_Rcpt" />
          <xsd:enumeration value="Posted_P_Cr_Memo" />
          <xsd:enumeration value="Posted_Shipment" />
          <xsd:enumeration value="Posted_S_Inv" />
          <xsd:enumeration value="Posted_Rtrn_Shipment" />
          <xsd:enumeration value="Posted_S_Cr_Memo" />
          <xsd:enumeration value="Posted_T_Receipt" />
          <xsd:enumeration value="Posted_T_Shipment" />
          <xsd:enumeration value="Item_Journal" />
          <xsd:enumeration value="Prod" />
          <xsd:enumeration value="Put_away" />
          <xsd:enumeration value="Pick" />
          <xsd:enumeration value="Movement" />
          <xsd:enumeration value="BOM_Journal" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Phys_Invt_Counting_Period_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Item" />
          <xsd:enumeration value="SKU" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="QHWarehouseEntry">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Journal_Batch_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Registering_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zone_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subtype" type="tns:Source_Subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subline_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Document" type="tns:Source_Document" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reason_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No_Series" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Type_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cubage" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Journal_Template_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Type" type="tns:Whse_Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_Type" type="tns:Entry_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reference_Document" type="tns:Reference_Document" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reference_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="User_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_per_Unit_of_Measure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Serial_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Warranty_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phys_Invt_Counting_Period_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phys_Invt_Counting_Period_Type" type="tns:Phys_Invt_Counting_Period_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VF_Parent_Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VF_Seq_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Selected_Reversal" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VF_GRN_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateBin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_VendorNo_x003E_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="_x003C_ReceiptDate_x003E_" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustNo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipmentDate" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="QHWarehouseEntry_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="QHWarehouseEntry_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Entry_No" />
          <xsd:enumeration value="Journal_Batch_Name" />
          <xsd:enumeration value="Line_No" />
          <xsd:enumeration value="Registering_Date" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Zone_Code" />
          <xsd:enumeration value="Bin_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Qty_Base" />
          <xsd:enumeration value="Source_Type" />
          <xsd:enumeration value="Source_Subtype" />
          <xsd:enumeration value="Source_No" />
          <xsd:enumeration value="Source_Line_No" />
          <xsd:enumeration value="Source_Subline_No" />
          <xsd:enumeration value="Source_Document" />
          <xsd:enumeration value="Source_Code" />
          <xsd:enumeration value="Reason_Code" />
          <xsd:enumeration value="No_Series" />
          <xsd:enumeration value="Bin_Type_Code" />
          <xsd:enumeration value="Cubage" />
          <xsd:enumeration value="Weight" />
          <xsd:enumeration value="Journal_Template_Name" />
          <xsd:enumeration value="Whse_Document_No" />
          <xsd:enumeration value="Whse_Document_Type" />
          <xsd:enumeration value="Whse_Document_Line_No" />
          <xsd:enumeration value="Entry_Type" />
          <xsd:enumeration value="Reference_Document" />
          <xsd:enumeration value="Reference_No" />
          <xsd:enumeration value="User_ID" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Qty_per_Unit_of_Measure" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Serial_No" />
          <xsd:enumeration value="Lot_No" />
          <xsd:enumeration value="Warranty_Date" />
          <xsd:enumeration value="Expiration_Date" />
          <xsd:enumeration value="Phys_Invt_Counting_Period_Code" />
          <xsd:enumeration value="Phys_Invt_Counting_Period_Type" />
          <xsd:enumeration value="VF_Parent_Item_No" />
          <xsd:enumeration value="VF_Seq_No" />
          <xsd:enumeration value="Selected_Reversal" />
          <xsd:enumeration value="VF_GRN_No" />
          <xsd:enumeration value="DateBin_Code" />
          <xsd:enumeration value="_x003C_VendorNo_x003E_" />
          <xsd:enumeration value="_x003C_ReceiptDate_x003E_" />
          <xsd:enumeration value="CustNo" />
          <xsd:enumeration value="ShipmentDate" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="QHWarehouseEntry_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:QHWarehouseEntry_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entry_No" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:QHWarehouseEntry_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:QHWarehouseEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry_List" type="tns:QHWarehouseEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry_List" type="tns:QHWarehouseEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry" type="tns:QHWarehouseEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry_List" type="tns:QHWarehouseEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="QHWarehouseEntry_List" type="tns:QHWarehouseEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="QHWarehouseEntry_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="QHWarehouseEntry_Binding" type="tns:QHWarehouseEntry_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/qhwarehouseentry:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="QHWarehouseEntry_Service">
    <port name="QHWarehouseEntry_Port" binding="tns:QHWarehouseEntry_Binding">
      <address location="http://dpmaster.dptech.local:7045/DynamicsNAVQH/WS/Qian%20Hu/Page/QHWarehouseEntry" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>