Web References/ReservationEntry/ReservationEntry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/reservationentry" targetNamespace="urn:microsoft-dynamics-schemas/page/reservationentry" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/reservationentry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Reservation_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Reservation" />
          <xsd:enumeration value="Tracking" />
          <xsd:enumeration value="Surplus" />
          <xsd:enumeration value="Prospect" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="_x0031_" />
          <xsd:enumeration value="_x0032_" />
          <xsd:enumeration value="_x0033_" />
          <xsd:enumeration value="_x0034_" />
          <xsd:enumeration value="_x0035_" />
          <xsd:enumeration value="_x0036_" />
          <xsd:enumeration value="_x0037_" />
          <xsd:enumeration value="_x0038_" />
          <xsd:enumeration value="_x0039_" />
          <xsd:enumeration value="_x0031_0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Binding">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Order_to_Order" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Planning_Flexibility">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unlimited" />
          <xsd:enumeration value="None" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Item_Tracking">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="None" />
          <xsd:enumeration value="Lot_No" />
          <xsd:enumeration value="Lot_and_Serial_No" />
          <xsd:enumeration value="Serial_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Lot_For">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Batch_No" />
          <xsd:enumeration value="Pallet_No" />
          <xsd:enumeration value="Packing_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="New_Lot_For">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Batch_No" />
          <xsd:enumeration value="Pallet_No" />
          <xsd:enumeration value="Packing_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ReservationEntry">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reservation_Status" type="tns:Reservation_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creation_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transferred_from_Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subtype" type="tns:Source_Subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Batch_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Prod_Order_Line" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Ref_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appl_to_Item_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Serial_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Created_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Changed_By" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Positive" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_per_Unit_of_Measure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Action_Message_Adjustment" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Binding" type="tns:Binding" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Suppressed_Action_Msg" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Planning_Flexibility" type="tns:Planning_Flexibility" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Warranty_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expiration_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Handle_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Invoice_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Invoiced_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reserved_Pick__x0026__Ship_Qty" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Serial_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Appl_from_Item_Entry" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Correction" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Expiration_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_Tracking" type="tns:Item_Tracking" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Manufacturer_Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Batch_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pallet_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Packing_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_For" type="tns:Lot_For" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Manufacturer_Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Batch_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Pallet_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Packing_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Lot_For" type="tns:New_Lot_For" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Vendor_Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="New_Vendor_Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scanned" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReservationEntry_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ReservationEntry" type="tns:ReservationEntry" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ReservationEntry_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Entry_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Quantity_Base" />
          <xsd:enumeration value="Reservation_Status" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Creation_Date" />
          <xsd:enumeration value="Transferred_from_Entry_No" />
          <xsd:enumeration value="Source_Type" />
          <xsd:enumeration value="Source_Subtype" />
          <xsd:enumeration value="Source_ID" />
          <xsd:enumeration value="Source_Batch_Name" />
          <xsd:enumeration value="Source_Prod_Order_Line" />
          <xsd:enumeration value="Source_Ref_No" />
          <xsd:enumeration value="Appl_to_Item_Entry" />
          <xsd:enumeration value="Expected_Receipt_Date" />
          <xsd:enumeration value="Shipment_Date" />
          <xsd:enumeration value="Serial_No" />
          <xsd:enumeration value="Created_By" />
          <xsd:enumeration value="Changed_By" />
          <xsd:enumeration value="Positive" />
          <xsd:enumeration value="Qty_per_Unit_of_Measure" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Action_Message_Adjustment" />
          <xsd:enumeration value="Binding" />
          <xsd:enumeration value="Suppressed_Action_Msg" />
          <xsd:enumeration value="Planning_Flexibility" />
          <xsd:enumeration value="Warranty_Date" />
          <xsd:enumeration value="Expiration_Date" />
          <xsd:enumeration value="Qty_to_Handle_Base" />
          <xsd:enumeration value="Qty_to_Invoice_Base" />
          <xsd:enumeration value="Quantity_Invoiced_Base" />
          <xsd:enumeration value="Reserved_Pick__x0026__Ship_Qty" />
          <xsd:enumeration value="New_Serial_No" />
          <xsd:enumeration value="New_Lot_No" />
          <xsd:enumeration value="Lot_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Appl_from_Item_Entry" />
          <xsd:enumeration value="Correction" />
          <xsd:enumeration value="New_Expiration_Date" />
          <xsd:enumeration value="Item_Tracking" />
          <xsd:enumeration value="Manufacturer_Lot_No" />
          <xsd:enumeration value="Batch_No" />
          <xsd:enumeration value="Pallet_No" />
          <xsd:enumeration value="Packing_No" />
          <xsd:enumeration value="Lot_For" />
          <xsd:enumeration value="New_Manufacturer_Lot_No" />
          <xsd:enumeration value="New_Batch_No" />
          <xsd:enumeration value="New_Pallet_No" />
          <xsd:enumeration value="New_Packing_No" />
          <xsd:enumeration value="New_Lot_For" />
          <xsd:enumeration value="Vendor_Lot_No" />
          <xsd:enumeration value="New_Vendor_Lot_No" />
          <xsd:enumeration value="Scanned" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ReservationEntry_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:ReservationEntry_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entry_No" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Positive" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReservationEntry" type="tns:ReservationEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:ReservationEntry_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:ReservationEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry" type="tns:ReservationEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry" type="tns:ReservationEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry_List" type="tns:ReservationEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry_List" type="tns:ReservationEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry" type="tns:ReservationEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry" type="tns:ReservationEntry" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry_List" type="tns:ReservationEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ReservationEntry_List" type="tns:ReservationEntry_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="ReservationEntry_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="ReservationEntry_Binding" type="tns:ReservationEntry_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/reservationentry:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="ReservationEntry_Service">
    <port name="ReservationEntry_Port" binding="tns:ReservationEntry_Binding">
      <address location="http://dpmaster:7047/DynamicsNAV/WS/RGS%20Enterprise%20(UAT)/Page/ReservationEntry" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>