Web References/PutAlwaysLinesQH/PutAlwaysLinesQH.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/putalwayslinesqh" targetNamespace="urn:microsoft-dynamics-schemas/page/putalwayslinesqh" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/putalwayslinesqh" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Action_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Take" />
          <xsd:enumeration value="Place" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Activity_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Put_away" />
          <xsd:enumeration value="Pick" />
          <xsd:enumeration value="Movement" />
          <xsd:enumeration value="Invt_Put_away" />
          <xsd:enumeration value="Invt_Pick" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="_x0031_" />
          <xsd:enumeration value="_x0032_" />
          <xsd:enumeration value="_x0033_" />
          <xsd:enumeration value="_x0034_" />
          <xsd:enumeration value="_x0035_" />
          <xsd:enumeration value="_x0036_" />
          <xsd:enumeration value="_x0037_" />
          <xsd:enumeration value="_x0038_" />
          <xsd:enumeration value="_x0039_" />
          <xsd:enumeration value="_x0031_0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Document">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Sales_Order" />
          <xsd:enumeration value="Sales_Return_Order" />
          <xsd:enumeration value="Purchase_Order" />
          <xsd:enumeration value="Purchase_Return_Order" />
          <xsd:enumeration value="Inbound_Transfer" />
          <xsd:enumeration value="Outbound_Transfer" />
          <xsd:enumeration value="Prod_Consumption" />
          <xsd:enumeration value="Prod_Output" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Shipping_Advice">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Partial" />
          <xsd:enumeration value="Complete" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Whse_Document_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Receipt" />
          <xsd:enumeration value="Shipment" />
          <xsd:enumeration value="Internal_Put_away" />
          <xsd:enumeration value="Internal_Pick" />
          <xsd:enumeration value="Production" />
          <xsd:enumeration value="Movement_Worksheet" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PutAlwaysLinesQH">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Action_Type" type="tns:Action_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Activity_Type" type="tns:Activity_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subtype" type="tns:Source_Subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Line_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subline_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Document" type="tns:Source_Document" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zone_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bin_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shelf_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_of_Measure_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_per_Unit_of_Measure" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Outstanding" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Outstanding_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Handle" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_to_Handle_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Handled" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Qty_Handled_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Special_Equipment_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipping_Advice" type="tns:Shipping_Advice" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Type" type="tns:Whse_Document_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Whse_Document_Line_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PutAlwaysLinesQH_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PutAlwaysLinesQH_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Action_Type" />
          <xsd:enumeration value="Activity_Type" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Line_No" />
          <xsd:enumeration value="Source_Type" />
          <xsd:enumeration value="Source_Subtype" />
          <xsd:enumeration value="Source_No" />
          <xsd:enumeration value="Source_Line_No" />
          <xsd:enumeration value="Source_Subline_No" />
          <xsd:enumeration value="Source_Document" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Zone_Code" />
          <xsd:enumeration value="Bin_Code" />
          <xsd:enumeration value="Shelf_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Unit_of_Measure_Code" />
          <xsd:enumeration value="Qty_per_Unit_of_Measure" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Qty_Base" />
          <xsd:enumeration value="Qty_Outstanding" />
          <xsd:enumeration value="Qty_Outstanding_Base" />
          <xsd:enumeration value="Qty_to_Handle" />
          <xsd:enumeration value="Qty_to_Handle_Base" />
          <xsd:enumeration value="Qty_Handled" />
          <xsd:enumeration value="Qty_Handled_Base" />
          <xsd:enumeration value="Special_Equipment_Code" />
          <xsd:enumeration value="Shipping_Advice" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Whse_Document_Type" />
          <xsd:enumeration value="Whse_Document_No" />
          <xsd:enumeration value="Whse_Document_Line_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PutAlwaysLinesQH_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:PutAlwaysLinesQH_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Activity_Type" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Line_No" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:PutAlwaysLinesQH_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:PutAlwaysLinesQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH_List" type="tns:PutAlwaysLinesQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH_List" type="tns:PutAlwaysLinesQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH" type="tns:PutAlwaysLinesQH" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH_List" type="tns:PutAlwaysLinesQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="PutAlwaysLinesQH_List" type="tns:PutAlwaysLinesQH_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <portType name="PutAlwaysLinesQH_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
  </portType>
  <binding name="PutAlwaysLinesQH_Binding" type="tns:PutAlwaysLinesQH_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/putalwayslinesqh:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PutAlwaysLinesQH_Service">
    <port name="PutAlwaysLinesQH_Port" binding="tns:PutAlwaysLinesQH_Binding">
      <address location="http://dpmaster.dptech.local:7045/DynamicsNAVQH/WS/Qian%20Hu/Page/PutAlwaysLinesQH" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>